<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFiltro</servlet-name>
        <servlet-class>controlador.ControladorFiltro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarCedula</servlet-name>
        <servlet-class>controlador.ValidarCedula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingreso</servlet-name>
        <servlet-class>controlador.Ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLinea</servlet-name>
        <servlet-class>controlador.ControladorLinea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFiltro</servlet-name>
        <url-pattern>/cf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarCedula</servlet-name>
        <url-pattern>/vd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingreso</servlet-name>
        <url-pattern>/i</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLinea</servlet-name>
        <url-pattern>/cl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
